.news-header {
  margin-bottom: 3rem;
  padding: 1rem;
  border-bottom: 1px solid #b3b3b3;
}

.news-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.news-header .logo {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  font-family: 'PlayFair Display', Georgia, serif;
  font-size: 3.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #212529;
}

.news-header .logo span {
  color: #dc3545;
}

@media (max-width: 576px) {
  .news-header .logo {
    font-size: 2rem;
  }
  .news-row {
    margin-bottom: 1rem;
  }
}

.news-header .logo::before {
  content: '';
  display: block;
  margin-right: 1rem;
  margin-top: 7px;
  width: 3.5rem;
  height: 3.5rem;
  background-image: url('../../assets/image/earthglobe.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.show-btn {
  margin: 0 1rem;
  white-space: nowrap;
}

@media (max-width: 992px) {
  .show-btn {
    margin: 0 0 0.5rem;
  }
  .navbar .show-btn .nav-link {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
