.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.error-card {
  align-items: center;
  padding: 3rem;
}

.error-card-icon {
  font-size: 100px;
  color: #dc3545;
}

.error-card-title {
  text-align: center;
  font-size: 2.5rem;
}

.card .card-header {
  background-color: transparent;
  border: 0;
}
